@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFBF7;
  --foreground: #111827;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}